#!/bin/bash
# {{ ansible_managed }}
set -e

{% for volume in hi_app_docker_volumes -%}
{% if volume.directory is defined and volume.directory %} mkdir -p {{ volume.host }} {% endif %}
{% endfor %}

docker stop {{ hi_app_name }} >/dev/null 2>&1 || true
docker rm -f {{ hi_app_name }} >/dev/null 2>&1 || true

{% if hi_app_cron_stdin_command %} {{ hi_app_cron_stdin_command  }} | {% endif %} exec docker run \
  --env-file /etc/default/{{ hi_app_name }} \
  --name {{ hi_app_name }} \
  -i \
  --rm \
  {% for volume in hi_app_docker_volumes -%}
  -v {{ volume.host }}:{{ volume.container }}:{{ volume.permissions | default("rw") }} \
  {% endfor %}
  {{ hi_app_docker_repo }}:{{ hi_app_docker_tag }} \
  {{ hi_app_docker_command }} \
  >> /var/log/{{ hi_app_name }}.log \
  2>> /var/log/{{ hi_app_name }}.err
