# vim:filetype=upstart
# {{ ansible_managed }}

description "{{ hi_app_name }}"

start on (filesystem or runlevel [2345]) and started docker {{ hi_app_upstart_start_condition }}
stop on runlevel [!2345]

respawn
respawn limit 3 30

script
  {% for volume in hi_app_docker_volumes -%}
  {% if volume.directory is defined and volume.directory -%}
  mkdir -p {{ volume.host }}
  {% endif -%}
  {% endfor -%}

  docker stop {{ hi_app_name }} >/dev/null 2>&1 || true
  docker rm -f {{ hi_app_name }} >/dev/null 2>&1 || true

  docker run --rm \
    {% if hi_app_docker_port is iterable and hi_app_docker_port is not string -%}
    {% for port in hi_app_docker_port -%}
    -p {{ port.ip | default("") }}{% if port.ip is defined %}:{% endif %}{{ port.host | default("") }}{% if port.host is defined %}:{% endif %}{{ port.container }} \
    {% endfor -%}
    {% else -%}
    -p {{ hi_app_docker_port }}:{{ hi_app_docker_port }} \
    {% endif -%}
    {% for link in hi_app_docker_link -%}
    --link {{ link.name }}:{{ link.alias | default(link.name) }} \
    {% endfor -%}
    --hostname "$(hostname)" \
    --env-file /etc/default/{{ hi_app_name }} \
    --name {{ hi_app_name }} \
    {% for volume in hi_app_docker_volumes -%}
    -v {{ volume.host }}:{{ volume.container }}:{{ volume.permissions | default("rw") }} \
    {% endfor -%}
    {{ hi_app_docker_repo }}:{{ hi_app_docker_tag }} {{ hi_app_docker_command }}

end script
